.menu
  %ul.ul-menu
    %li
      %a.li-a-first{:href => "#href_aktualnosci"} aktualności
    %li
      %a{:href => "#href_sklep"} sklep
    %li
      %a{:href => "#href_koszyk"} koszyk
    %li
      %a{:href => "#href_o_mnie"} o mnie
    %li
      %a{:href => "#href_informacje"} informacje
.content_site
  .koronka_lewa
  .aktualnosci
    %a{:name => "href_aktualnosci", :style => "position:inherit; top: -100px;"}
    .logo
    .ramka_jasna
      .ramka_wlasciwa
        .dmuchawce
        .aktualnosci_text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %br/
          %br/
          %img{:src => "./img/naszyjniki/n1.jpg", :width => "60px"}/
          %img{:src => "./img/naszyjniki/n2.jpg", :width => "60px"}/
          %img{:src => "./img/naszyjniki/n3.jpg", :width => "60px"}/
    .aktualnosci_nawigacja
      %a.akt_nav_next{:title => "Next image"}
      %a.akt_nav_prev{:title => "Previous image"}
    .h_line
  .sklep
    %a{:name => "href_sklep", :style => "position:inherit; top: -70px;"}
    .sklep_content
      .galery-container
        #ppy2.ppy
          %ul.ppy-imglist
            %li
              %a{:href => "./img/naszyjniki/naszyjnik8a.jpg"}
                %img{:alt => "yankee stadium shot by flickr member andre stoeriko", :src => "./img/naszyjniki/naszyjnik8a_m.jpg"}/
            %li
              %a{:href => "./img/naszyjniki/naszyjnik8b.jpg"}
                %img{:alt => "yankee stadium shot by flickr member andre stoeriko", :src => "./img/naszyjniki/naszyjnik8b_m.jpg"}/
            %li
              %a{:href => "./img/naszyjniki/naszyjnik8c.jpg"}
                %img{:alt => "yankee stadium shot by flickr member andre stoeriko", :src => "./img/naszyjniki/naszyjnik8c_m.jpg"}/
          .ppy-outer
            .ppy-stage-wrap
              .ppy-stage
                .ppy-counter
                  %strong.ppy-current
                  \/
                  %strong.ppy-total
                  (kliknij, by powiększyć)
            .ppy-nav
              .ppy-nav-wrap
                %a.ppy-next{:title => "Next image"} Next image
                %a.ppy-switch-enlarge{:title => "Enlarge"} Enlarge
                %a.ppy-switch-compact{:title => "Close"} Close
                %a.ppy-prev{:title => "Previous image"} Previous image
      .opis_naszyjnika
        .ramka_jasna
          .ramka_wlasciwa
            %p
              Naszyjnik "Dzwonki przeznaczenia"
              %br/
              %br/
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %p.cena cena: 159 zł
      .do_koszyka
        %a do koszyka   
      .galeria_tip
        %p Obejrzyj inne produkty (możesz poruszać się po galerii za pomocą strzałek)
      .naszyjniki_lista
        .ramka_jasna
          #wrapper_naszyjniki.wrapper
            #content_naszyjniki.content
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n1.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n2.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n2.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n3.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n1.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n3.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n2.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n1.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n1.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n3.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n2.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n2.jpg"}/
              .naszyjnik_miniatura
                %a{:href => "#"}
                  %table
                    %tr
                      %td
                        %img{:src => "./img/naszyjniki/n1.jpg"}/
      .naszyjniki_lista_nawigacja
        %a.akt_nav_next{:title => "Next image"}
        %a.akt_nav_prev{:title => "Previous image"}
    .h_line
  .koszyk
    %form.niceform{:action => "vars.php", :method => "post"}
      %a{:name => "href_koszyk", :style => "position:inherit; top: -70px;"}
      .koszyk_lista
        .ramka_jasna
          %table
            %tr
              %td.koszyk_lista_lp 1.
              %td.koszyk_lista_miniatura
                %img{:src => "./img/naszyjniki/naszyjnik8a.jpg"}/
              %td.koszyk_lista_nazwa Nazwa naszyjnika
              %td.koszyk_lista_cena 156 zł
              %td.koszyk_lista_checkbox
                %input#opakowanie_checkbox{:name => "opakowanie[]", :type => "checkbox", :value => "Tak"}/
                %label.opt{:for => "opakowanie_checkbox"} na prezent
            %tr
              %td.koszyk_lista_lp 2.
              %td.koszyk_lista_miniatura
                %img{:src => "./img/naszyjniki/naszyjnik8a.jpg"}/
              %td.koszyk_lista_nazwa Nazwa naszyjnika drugiego
              %td.koszyk_lista_cena 15 zł
              %td.koszyk_lista_checkbox
                %input#opakowanie_checkbox{:name => "opakowanie[]", :type => "checkbox", :value => "Tak"}/
                %label.opt{:for => "opakowanie_checkbox"} na prezent
            %tr
              %td.koszyk_lista_lp 3.
              %td.koszyk_lista_miniatura
                %img{:src => "./img/naszyjniki/naszyjnik8b.jpg"}/
              %td.koszyk_lista_nazwa Nazwa naszyjnika dzwonki chaosu
              %td.koszyk_lista_cena 156 zł
              %td.koszyk_lista_checkbox
                %input#opakowanie_checkbox{:name => "opakowanie[]", :type => "checkbox", :value => "Tak"}/
                %label.opt{:for => "opakowanie_checkbox"} na prezent
      .koszyk_lista_nawigacja
        %a.akt_nav_prev{:title => "Previous image"}
        %a.akt_nav_next{:title => "Next image"}
      .przesylka
        %label{:for => "select_przesylka"} Opcje dostawy:
        %select#select_przesylka{:name => "select_przesylka", :size => "1"}
          %option{:value => "PP_eko"} Poczta Polska (przesyłka ekonomiczna) - 10 zł
          %option{:value => "PP_prio"} Poczta Polska (przesyłka ekonomiczna) - 12 zł
          %option{:value => "Kurier"} Kurier - 15 zł
      .adres_klienta
        %label{:for => "adres"} Adres dostawy:
        %textarea#adres_k{:cols => "25", :name => "adres_k", :rows => "5"}
      .email_klienta
        %label{:for => "email"} Twój email:
        %input#email_k{:maxlength => "128", :name => "email_k", :size => "33", :type => "text"}/
      .koszt_zakupow
        .ramka_jasna
          .ramka_wlasciwa
            %p SUMA: 159,50 zł
      .kupuje
        %a KUPUJĘ
    .h_line
  .o_mnie
    %a{:name => "href_o_mnie", :style => "position:inherit; top: -70px;"}
    .o_mnie_content
      .o_mnie_logo
      %a.a-nazywam
        Nazywam się Małgorzata (Megi) Mikos.
        %br/
        Znam się trochę na: szyciu, filozofii, poezji, fotografowaniu i grafice.
        %br/
        Zapraszam do mojej galerii.
      .ramka_jasna
        .ramka_wlasciwa
          .zdjecie_megi
          %a.a-bizuterie
            Biżuterię tworzę dla przyjemności i dla tych pięknych chwil, gdy udaje mi się porozumieć z materią w kwestii formy. Umiem rozmawiać z rzeczami tak, żeby zdradziły mi swoje możliwości i... swoje marzenia.
            %br/
            %br/
            Odkryłam, że najczęściej rzeczy marzą o tym, aby zostać biżuterią ;)
            %br/
            = succeed "Ostatnio" do
              %br/
            pracuję z tkaninami, stąd kolekcja biżuterii z tkanin.
          %a.a-wzory Wzory, projekty, pomysły, wykonanie i "wynalazki techniczne" są wyłącznie mojego autorstwa.
    .h_line
  .informacje
    %a{:name => "href_informacje", :style => "position:inherit; top: -70px;"}
    .section_title_informacje
.footer
  projekt graficzny: Megi Mikos i Olga Rybacka, wykonanie: Olga Rybacka
.koronka_prawa
.liany
