	<div class="menu">
		<ul class="ul-menu">
			<li>
				<a class="li-a-first" href="#href_aktualnosci">aktualności</a>
			</li>
			<li>
				<a href="#href_sklep">sklep</a>
			</li>
			<li>
				<a href="#href_koszyk">koszyk</a>
			</li>
			<li>
				<a href="#href_o_mnie">o mnie</a>
			</li>
			<li>
				<a href="#href_informacje">informacje</a>
			</li>
		</ul>
	</div>
	<div class="content_site">

		
		<div class="koronka_lewa">
		</div>
		
		<div class="aktualnosci">
			<a name="href_aktualnosci" style="position:inherit; top: -100px;"></a>
			<div class="logo">
			</div>
			<div class="ramka_jasna">
				<div class="ramka_wlasciwa">
					<div class="dmuchawce"></div>
					<div class="aktualnosci_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

						<br/><br/>
						<img src="./img/naszyjniki/n1.jpg" width="60px" />
						<img src="./img/naszyjniki/n2.jpg" width="60px" />
						<img src="./img/naszyjniki/n3.jpg" width="60px" />
					</div>
				</div>
			</div>
			<div class="aktualnosci_nawigacja">
				<a class="akt_nav_next" title="Next image"></a>
				<a class="akt_nav_prev" title="Previous image"></a>
			</div>
			
			<div class="h_line"></div>
		
		</div>
		
		<div class="sklep">
			<a name="href_sklep" style="position:inherit; top: -70px;"></a>
			<div class="sklep_content">
				<div class="galery-container">
					<div class="ppy" id="ppy2">

						<ul class="ppy-imglist">
							<li><a href="./img/naszyjniki/naszyjnik8a.jpg"><img src="./img/naszyjniki/naszyjnik8a_m.jpg" alt="yankee stadium shot by flickr member andre stoeriko" /></a></li>
							<li><a href="./img/naszyjniki/naszyjnik8b.jpg"><img src="./img/naszyjniki/naszyjnik8b_m.jpg" alt="yankee stadium shot by flickr member andre stoeriko" /></a></li>
							<li><a href="./img/naszyjniki/naszyjnik8c.jpg"><img src="./img/naszyjniki/naszyjnik8c_m.jpg" alt="yankee stadium shot by flickr member andre stoeriko" /></a></li>
						</ul>

						<div class="ppy-outer">
							<div class="ppy-stage-wrap">
								<div class="ppy-stage">
									<div class="ppy-counter">
										<strong class="ppy-current"></strong> / <strong class="ppy-total"></strong> (kliknij, by powiększyć) 
									</div>
								</div>
							</div>
							<div class="ppy-nav">
								<div class="ppy-nav-wrap">
									<a class="ppy-next" title="Next image">Next image</a>
									<a class="ppy-switch-enlarge" title="Enlarge">Enlarge</a>
									<a class="ppy-switch-compact" title="Close">Close</a>
									<a class="ppy-prev" title="Previous image">Previous image</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="opis_naszyjnika">
					<div class="ramka_jasna">
						<div class="ramka_wlasciwa">
							<p>
								Naszyjnik "Dzwonki przeznaczenia"<br/><br/>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	
							</p>
							<p class="cena">cena: 159 zł</p>
						</div>
					</div>	
				</div>	
				<div class="do_koszyka">
					<a> do koszyka &nbsp;&nbsp;</a>
				</div>
				<div class="galeria_tip"><p>Obejrzyj inne produkty (możesz poruszać się po galerii za pomocą strzałek)</p></div>
				<div class="naszyjniki_lista">
					<div class="ramka_jasna">
						<div id="wrapper_naszyjniki" class="wrapper">
							<div id="content_naszyjniki" class="content">
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n1.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n2.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n2.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n3.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n1.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n3.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n2.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n1.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n1.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n3.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n2.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n2.jpg" /></td></tr></table></a></div>
								<div class="naszyjnik_miniatura"><a href="#"><table><tr><td><img src="./img/naszyjniki/n1.jpg" /></td></tr></table></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="naszyjniki_lista_nawigacja">
					<a class="akt_nav_next" title="Next image"></a>
					<a class="akt_nav_prev" title="Previous image"></a>
				</div>
			</div>
			
			<div class="h_line"></div>
		</div>
		
		<div class="koszyk">
			<form action="vars.php" method="post" class="niceform">
				<a name="href_koszyk" style="position:inherit; top: -70px;"></a>
				<div class="koszyk_lista">
					<div class="ramka_jasna">
						<table>
							<tr>
								<td class="koszyk_lista_lp">1.</td>
								<td class="koszyk_lista_miniatura"><img src="./img/naszyjniki/naszyjnik8a.jpg" /></td>
								<td class="koszyk_lista_nazwa">Nazwa naszyjnika</td>
								<td class="koszyk_lista_cena">156 zł</td>
								<td class="koszyk_lista_checkbox">
									<input type="checkbox" name="opakowanie[]" id="opakowanie_checkbox" value="Tak" />
									<label for="opakowanie_checkbox" class="opt">na prezent</label>
								</td>
							</tr>
							<tr>
								<td class="koszyk_lista_lp">2.</td>
								<td class="koszyk_lista_miniatura"><img src="./img/naszyjniki/naszyjnik8a.jpg" /></td>
								<td class="koszyk_lista_nazwa">Nazwa naszyjnika drugiego</td>
								<td class="koszyk_lista_cena">15 zł</td>
								<td class="koszyk_lista_checkbox">
									<input type="checkbox" name="opakowanie[]" id="opakowanie_checkbox" value="Tak" />
									<label for="opakowanie_checkbox" class="opt">na prezent</label>
								</td>
							</tr>
							<tr>
								<td class="koszyk_lista_lp">3.</td>
								<td class="koszyk_lista_miniatura"><img src="./img/naszyjniki/naszyjnik8b.jpg" /></td>
								<td class="koszyk_lista_nazwa">Nazwa naszyjnika dzwonki chaosu</td>
								<td class="koszyk_lista_cena">156 zł</td>
								<td class="koszyk_lista_checkbox">
									<input type="checkbox" name="opakowanie[]" id="opakowanie_checkbox" value="Tak" />
									<label for="opakowanie_checkbox" class="opt">na prezent</label>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				<div class="koszyk_lista_nawigacja">
					<a class="akt_nav_prev" title="Previous image"></a>
					<a class="akt_nav_next" title="Next image"></a>
				</div>
				<div class="przesylka">
					<label for="select_przesylka">Opcje dostawy:</label>
					<select size="1" name="select_przesylka" id="select_przesylka">
						<option value="PP_eko">Poczta Polska (przesyłka ekonomiczna) - 10 zł</option>
						<option value="PP_prio">Poczta Polska (przesyłka ekonomiczna) - 12 zł</option>
						<option value="Kurier">Kurier - 15 zł</option>
					</select>
				</div>
				<div class="adres_klienta">
					<label for="adres">Adres dostawy: </label>
					<textarea name="adres_k" id="adres_k" rows="5" cols="25"></textarea>
				</div>
				<div class="email_klienta">
					<label for="email">Twój email: </label>
					<input type="text" name="email_k" id="email_k" size="33" maxlength="128" />
				</div>
				
				<div class="koszt_zakupow">
					<div class="ramka_jasna">
						<div class="ramka_wlasciwa">
							<p>SUMA: 159,50 zł</p>
						</div>
					</div>
				</div>
				
				<div class="kupuje">
					<a>KUPUJĘ</a>
				</div>
			</form>
			<div class="h_line"></div>
		</div>
		
		<div class="o_mnie">
		<a name="href_o_mnie" style="position:inherit; top: -70px;"></a>
		<div class="o_mnie_content">
			<div class="o_mnie_logo"></div>
			<a class="a-nazywam">Nazywam się Małgorzata (Megi) Mikos. <br/> Znam się trochę na: szyciu, filozofii, poezji, fotografowaniu i grafice. <br/> Zapraszam do mojej galerii.</a>
			<div class="ramka_jasna">
				<div class="ramka_wlasciwa">
				<div class="zdjecie_megi"></div>
				<a class="a-bizuterie">Biżuterię tworzę dla przyjemności i dla tych pięknych chwil, gdy udaje mi się porozumieć z materią w kwestii formy. Umiem rozmawiać z rzeczami tak, żeby zdradziły mi swoje możliwości i... swoje marzenia. <br/><br/> Odkryłam, że najczęściej rzeczy marzą o tym, aby zostać biżuterią ;) <br/><br/>Ostatnio pracuję z tkaninami, stąd kolekcja biżuterii z tkanin. </a>
				<a class="a-wzory">Wzory, projekty, pomysły, wykonanie i "wynalazki techniczne" są wyłącznie mojego autorstwa. </a>
				</div>
			</div>
		</div>
		<div class="h_line"></div>
		</div>
		
		<div class="informacje">
		<a name="href_informacje" style="position:inherit; top: -70px;"></a>
		<div class="section_title_informacje"></div>
		</div>

		
	</div>
	
	<div class="footer">
		projekt graficzny: Megi Mikos i Olga Rybacka, wykonanie: Olga Rybacka
	</div>
	
	<div class="koronka_prawa">
	</div>	
	<div class="liany">
	</div>
