<!DOCTYPE html>
<html>
<head>
  <title>Megi Mikos</title>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "home" %>
	<script type="text/javascript" language="javascript">
		$(document).ready(function () {
			var options = {
				caption:    false,
				navigation: 'permanent',
				direction:  'right'
			};
			$('#ppy2').popeye(options);
			/*$('#content_naszyjniki').innerscroll({
				destination: $('#wrapper_naszyjniki'),
				draggable: true,
				autoFadeout: false
			});*/
		});
		
	</script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
